*{
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #69608a;
  font-weight: 700;
}

.container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #d3d3d3;
  text-align: justify;
  background-color: black;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #d3d3d3;
}
#threejs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#project-info {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  max-width: 50%;
}

#all-projects-info {
  top: 20px;
  left: 20px;
  z-index: 1;
  max-width: 50%;
  padding: auto;
}

#title {
  text-align: left;
}

.small-padding {
  padding: 0.5rem;
}

.pt-2rem {
  padding-top: 2rem;
}

.pt-08rem {
  padding-top: 0.8rem;
}

.pt-02rem {
  padding-top: 0.2rem;
}

.pt-3rem {
  padding-top: 3rem;
}

.btn-blue {
  text-align: center;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: rgba(252, 252, 252, 0.171);
  width: 200px;
  border-radius: 5px;
}

.btn-blue:hover {
  background-color: rgba(252, 252, 252, 0.103);
  transition-duration: 0.5s;
}
canvas {
  display: block;
}

.btn-navbar {
  padding: 2rem;
}

.btn-navbar:hover {
  color: #a193d3;
  transition-duration: 0.5s;
}

.index-title {
  font-weight: 700;
}