.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #666;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}
